body {
    text-align: center;
    /* background-image: url("logo.png");
    background-color: #cccccc; */

}

img {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
}



header {
    font-size: 10rem;
    font-style: italic;
    margin-top: -48px;
    background-color: aqua;
    color: red;
    text-align: center;
    text-shadow: 5px -6px black;
    
}

.descriptipon {
    font-size: 2rem;
    text-align: center;
    margin-right: 3vw;
    padding: 20px;
}


.table-box {
    padding-right: 3vw;
    width: 90vw;
}

table {
    width: 100%;
}

.input-box {
    width: 100vw;
    display: flex; 
}

.input {
    font-size: 5rem;
    width: 75vw;
    margin-right: 3vw;   
}

.btn {
    width: 15vw;
    /* color: blue; */
    background-color: blue;
    font-size: 5rem;
}

/* CSS */
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 5rem;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:hover {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button-9:active {
    box-shadow: rgba(18, 18, 92, 0.1) 0 0 0 1px inset, rgba(42, 42, 146, 0.2) 0 6px 15px 0, rgba(170, 51, 51, 0.1) 0 2px 2px 0, rgba(112, 169, 202, 0.3) 0 0 0 4px;
    color: #091663;
    background-color: #4d8de0;
  }

.pesukim {
    text-align: right;
    padding-right: 2vw;
}

.buttons-box {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-right: 10vw;
}

.with25 {
    width: 25vw;
    font-size: 3rem;

}